// Flyouts
$flyout-background-color: transparent !default;
$flyout-index: 901 !default;
$flyout-top: 0 !default;
$flyout-transition-easing: cubic-bezier(0.165, 0.84, 0.44, 1) !default;
$flyout-visible-box-shadow: 0 0 24px rgba($black, 0.15), 0 0 4px rgba($black, 0.15) !default;
$flyout-width: 300px !default;

$flyout-content-background-color: $scheme-main !default;
$flyout-content-backdrop-filter: none !default;
$flyout-content-padding: 0 !default;

$flyout-footer-background-color: $scheme-main !default;
$flyout-footer-border: 1px solid rgba($black, 0.3) !default;

$flyout-header-background-color: $scheme-main !default;
$flyout-header-box-shadow: 0 1px 0 rgba($black, 0.1) !default;
$flyout-header-backdrop-filter: none !default;
$flyout-header-height: $navbar-height !default;
$flyout-header-title-color: $grey-dark !default;
$flyout-header-title-font-size: 1.2rem !default;
$flyout-header-title-font-weight: $weight-normal !default;

$flyout-overlay-background-color: rgba($black, 0.075) !default;
$flyout-overlay-index: 900 !default;

// Check-radio
$checkbox-radius: $radius-small !default;
$checkbox-border: 2px solid $grey-lighter !default;
$checkbox-block-background: $scheme-main-ter !default;
$checkradio-top-offset: 0rem !default;

// Switch
$switch-background: $grey-light !default;
$switch-border: 0.1rem solid transparent !default;
$switch-background-active: $primary !default;
$switch-radius: $radius !default;
$switch-paddle-background: $scheme-main !default;
$switch-paddle-background-active: $primary !default;
$switch-paddle-offset: 0.25rem !default;
$switch-paddle-transition: all 0.25s ease-out !default;

// Field Hints
$field-hint-color: $grey-lighter !default;

// Field Descriptions
$field-description-color: $grey !default;
$field-description-font-size: 0.85em !default;
$field-description-margin: 0.5em !default;
$field-label-has-description-margin: 0.15em !default;

// Avatar
$avatar-background-color: $scheme-main-ter !default;
$avatar-initials-background-color: $avatar-background-color !default;
$avatar-initials-color: $grey-light !default;
$avatar-initials-font-weight: $weight-normal !default;
$avatar-box-shadow: inset 0 0 0 1px rgba($black, 0.075) !default;
$avatar-presence-border-color: $scheme-main !default;
$avatar-presence-background-color: $scheme-main-ter !default;

// Persona
$persona-gap: 1em !default;
$persona-name-font-weight: $weight-bold !default;
$persona-subtitle-color: $grey !default;
$persona-subtitle-font-size: .75em !default;

// Colour Picker
$colour-picker-indicator-shadow: inset 0 0 0 1px rgba($black, 0.25) !default;
$colour-picker-transition-duration: 150ms !default;
$colour-picker-indicator-radius: $radius-rounded !default;
$colour-picker-hue-radius: $radius-rounded !default;
$colour-picker-hue-picker-radius: $radius-rounded !default;
$colour-picker-hue-picker-shadow: 0 0 0 2px rgba($black, 0.25) !default;
$colour-picker-hue-picker-active-shadow: 0 0 0 3px rgba($black, 0.45) !default;
$colour-picker-hue-picker-background: $scheme-main !default;

// Dropdown Wrapper
$dropdown-item-highlighted-background-color: $scheme-main-ter !default;
$dropdown-item-highlighted-color: initial !default;
$dropdown-content-max-height: 12rem !default;

// Date Picker
$date-picker-primary-color: $scheme-main-ter !default;
$date-picker-primary-color-invert: findColorInvert($date-picker-primary-color) !default;
$date-picker-box-shadow: 0 0.25rem 0.5rem rgba($black, 0.05) !default;
$date-picker-open-animation: 300ms cubic-bezier(0.23, 1, 0.32, 1) !default;
$date-picker-border-color: $border !default;

// Password Input: Meter
$password-input-meter-transition-easing: cubic-bezier(0.2, 0.5, 0, 1) !default;
$password-input-meter-ring-width: 3 !default;
$password-input-meter-ring-cap: round !default;
$password-input-meter-outer-ring-color: $grey-lighter !default;
$password-input-meter-inner-ring-color-25: $danger !default;
$password-input-meter-inner-ring-color-50: $danger !default;
$password-input-meter-inner-ring-color-75: $success !default;
$password-input-meter-inner-ring-color-100: $success !default;
$password-input-meter-checkmark-color: $success !default;

// Modals
$modal-card-head-icon-margin: 0.5em !default;
$modal-card-head-icon-color: $grey !default;
$modal-card-intro-background: $light !default;
$modal-card-intro-border-width: 1px !default;
$modal-card-intro-border: darken($modal-card-intro-background, 5%) !default;
$modal-card-intro-color: $text !default;
$modal-card-intro-padding: ($modal-card-body-padding / 1.5) $modal-card-body-padding;

// Markdown Editor
$markdown-editor-tabs-margin: 0.5rem !default;
$markdown-editor-preview-background: $scheme-main-ter !default;
$markdown-editor-preview-color: $text !default;
$markdown-editor-preview-radius: $radius !default;
$markdown-editor-preview-padding: 1rem !default;

// Tooltips & Popovers
$tooltip-index: 39 !default;
$tooltip-background-color: $scheme-invert !default;
$tooltip-color: $scheme-main !default;
$tooltip-radius: $radius-small !default;
$tooltip-padding: .35em .75em !default;
$tooltip-font-size: $size-7 !default;
$popover-background-color: $scheme-main !default;
$popover-color: $scheme-invert !default;
$popover-radius: $radius !default;
$popover-padding: 1em 1.25em !default;
$popover-transition-duration: 200ms !default;
