<template>
  <div :class="['colour-picker-hue-strip', `direction-${direction}`]">
    <div class="strip-container"
      ref="container"
      @mousedown="mouseDown"
      @touchmove="changeHue"
      @touchstart="changeHue">
      <div class="strip-pointer" :style="{
        top: pointerTop,
        left: pointerLeft
      }">
        <div class="strip-picker" tabindex="0"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

  props: {
    value: Object,
    direction: {
      type: String,
      default: 'horizontal',
      validator: value => [
        'horizontal',
        'vertical'
      ].includes(value)
    }
  },

  data: () => ({
    oldHue: 0,
    pullDirection: ''
  }),

  computed: {
    colours() {
      const h = this.value.hsl.h
      if (h !== 0 && h - this.oldHue > 0) this.pullDirection = 'right'
      if (h !== 0 && h - this.oldHue < 0) this.pullDirection = 'left'
      this.oldHue = h

      return this.value
    },

    pointerTop() {
      if (this.direction === 'vertical') {
        if (this.colours.hsl.h === 0 && this.pullDirection === 'right') return 0
        return -((this.colours.hsl.h * 100) / 360) + 100 + '%'
      } else {
        return 0
      }
    },

    pointerLeft() {
      if (this.direction === 'vertical') {
        return 0
      } else {
        if (this.colours.hsl.h === 0 && this.pullDirection === 'right') return '100%'
        return (this.colours.hsl.h * 100) / 360 + '%'
      }
    }
  },

  methods: {
    changeHue(e, skip) {
      !skip && e.preventDefault()

      let container = this.$refs.container,
        containerWidth = container.clientWidth,
        containerHeight = container.clientHeight,
        xOffset = container.getBoundingClientRect().left + window.pageXOffset,
        yOffset = container.getBoundingClientRect().top + window.pageYOffset,
        pageX = e.pageX || (e.touches ? e.touches[0].pageX : 0),
        pageY = e.pageY || (e.touches ? e.touches[0].pageY : 0),
        left = pageX - xOffset,
        top = pageY - yOffset,
        h,
        percent

      if (this.direction === 'vertical') {
        if (top < 0) {
          h = 360
        } else if (top > containerHeight) {
          h = 0
        } else {
          percent = -(top * 100 / containerHeight) + 100
          h = (360 * percent / 100)
        }

        if (this.colours.hsl.h !== h) {
          this.$emit('change', {
            h: h,
            s: this.colours.hsl.s,
            l: this.colours.hsl.l,
            a: this.colours.hsl.a,
            source: 'hsl'
          })
        }
      } else {
        if (left < 0) {
          h = 0
        } else if (left > containerWidth) {
          h = 360
        } else {
          percent = left * 100 / containerWidth
          h = (360 * percent / 100)
        }

        if (this.colours.hsl.h !== h) {
          this.$emit('change', {
            h: h,
            s: this.colours.hsl.s,
            l: this.colours.hsl.l,
            a: this.colours.hsl.a,
            source: 'hsl'
          })
        }
      }
    },

    mouseDown(event) {
      this.changeHue(event, true)
      window.addEventListener('mousemove', this.changeHue)
      window.addEventListener('mouseup', this.mouseUp)
    },

    mouseUp(event) {
      this.unbindEventListeners()
    },

    unbindEventListeners() {
      window.removeEventListener('mousemove', this.changeHue)
      window.removeEventListener('mouseup', this.mouseUp)
    }
  }
}
</script>
