<template>
  <button
    :disabled="working"
    :class="{ 'is-loading': working }"
    :type="type"
    @click.prevent="emit"
    class="button">
    <icon
      v-if="leftIcon"
      :class="iconClass"
      :pack="leftIconPack"
      :icon="leftIcon"
      :type="leftIconType"
    />
    <slot v-if="!leftIcon && !rightIcon"/>
    <span v-else><slot/></span>
    <icon
      v-if="(hasDropdown && dropdownTrigger.pack) || rightIcon"
      :class="iconClass"
      :pack="hasDropdown ? dropdownTrigger.pack || rightIconPack : rightIconPack"
      :icon="hasDropdown ? dropdownTrigger.icon || rightIcon : rightIcon"
      :type="hasDropdown ? dropdownIconType || rightIconType : rightIconType"
    />
  </button>
</template>

<script>
import * as props from '../mixins/props'

export default {

  mixins: [
    props.dropable,
    props.iconable,
    props.type,
    props.working,
  ],

  computed: {
    defaults() {
      return this.$vueBulma.components.actionButton
    },
    dropdownTrigger() {
      return {
        pack: this.dropdownIconPack || this.defaults.dropdownIconPack,
        icon: this.dropdownIcon || this.defaults.dropdownIcon
      }
    }
  },

  methods: {
    emit() {
      this.$emit('click')
    }
  },

}
</script>
