<template>
  <action-button
    v-bind="{ iconClass, leftIcon, leftIconType, leftIconPack, rightIcon, rightIconType, rightIconPack, working }"
    @click="submit"
    class="is-primary"
    type="submit">
    <slot/>
  </action-button>
</template>

<script>
import * as props from '../mixins/props'

export default {

  mixins: [
    props.iconable,
    props.working,
  ],

  methods: {
    submit() {
      this.$emit('click')
      this.$emit('submit')
    }
  },

}
</script>
