<template>
  <article class="message">
    <div class="message-header" v-if="title || $scopedSlots.header">
      <slot name="header" v-if="$scopedSlots.header"/>
      <p v-else>{{ title }}</p>
      <button class="delete" @click="close" v-if="canClose"/>
    </div>
    <div class="message-body" :class="bodyClass">
      <slot/>
    </div>
  </article>
</template>

<script>
import * as props from '../mixins/props'
import * as computed from '../mixins/computed'
import * as methods from '../mixins/methods'

export default {

  mixins: [
    props.bodyClass,
    props.title,
    props.closeable,
    computed.canClose,
    methods.close
  ],

}
</script>
