<template>
  <div class="modal is-active">
    <div v-if="showOverlay" v-on="overlayListeners" class="modal-background"/>

    <button
      v-if="closeButtonOutside || (!title && !$scopedSlots.title)"
      @click="cancel"
      class="modal-close is-large"/>

    <component :is="form ? 'form' : 'div'" :class="componentClass">
      <template v-if="title || $scopedSlots.title">
        <header class="modal-card-head" :class="headerClass">
          <icon v-if="icon" v-bind="{ icon }" :class="iconClass" />
          <slot v-if="$scopedSlots.title" name="title"/>
          <p v-else class="modal-card-title" v-html="title"></p>
          <button v-if="!closeButtonOutside" class="delete" @click.prevent="cancel"/>
        </header>
        <section v-if="$scopedSlots.intro" class="modal-card-intro" :class="introClass">
          <slot name="intro"/>
        </section>
        <section :class="modalCardBodyClass">
          <slot/>
        </section>
        <footer
          v-if="$scopedSlots.footer"
          class="modal-card-foot"
          :class="footerClass">
          <slot name="footer"/>
        </footer>
      </template>
      <slot v-else/>
    </component>
  </div>
</template>

<script>
import * as props from '../mixins/props'

export default {

  mixins: [
    props.title,
    props.bodyClass
  ],

  props: {
    large: Boolean,
    wide: Boolean,
    form: Boolean,
    icon: String,
    closeButtonOutside: Boolean,
    headerClass: Array | Object | String,
    introClass: Array | Object | String,
    iconClass: String,
    cardClass: Object | String,

    footerClass: {
      typ: Array | Object | String,
      default: 'is-reversed'
    },
    showOverlay: {
      type: Boolean,
      default: true
    },
    overlayCloses: {
      type: Boolean,
      default: true
    },
  },

  computed: {
    overlayListeners() {
      return this.overlayCloses ? { click: this.cancel } : {}
    },

    componentClass() {
      return [
        this.title ? 'modal-card' : 'modal-content',
        this.cardClass,
        { 'is-large': this.wide || this.large }
      ]
    },

    modalCardBodyClass() {
      return [
        'modal-card-body',
        this.bodyClass,
        { 'is-footerless': !this.$scopedSlots.footer }
      ]
    }
  },

  methods: {
    cancel() {
      this.$parent.$close(false)
    }
  }

}
</script>
