<template>
  <nav role="pager">
    <div :class="['buttons', { 'has-addons': canPage && grouped }]">
      <!-- Details -->
      <template v-if="showDetails && !working">
        <static-button key="details" :class="detailsClass" v-if="canPage" v-html="details"/>
        <static-button key="emptyText" :class="detailsClass" v-else-if="emptyText">{{ emptyText }}</static-button>
        <static-button key="context" :class="detailsClass" v-else>{{ meta('total') || 'No' }} {{ context | inflect(meta('total')) }}</static-button>
      </template>

      <template v-if="working">
        <static-button key="workingText" :class="detailsClass">{{ workingText }}</static-button>
      </template>

      <!-- Buttons -->
      <template v-if="canPage">
        <action-button
          key="navToFirst"
          v-if="jumpControls"
          @click="$emit('nav', link('first'))"
          :disabled="!link('first') || !link('prev') || working"
          :class="buttonClass">
          <icon
            :icon="buttonIcons.firstButtonIcon"
            :pack="buttonIcons.buttonIconPack"
            :type="buttonIcons.buttonIconType"
            :class="iconClass" />
        </action-button>
        <action-button
          key="navToPrev"
          @click="$emit('nav', link('prev'))"
          :disabled="!link('prev') || working"
          :left-icon="buttonIcons.prevButtonIcon"
          :left-icon-pack="buttonIcons.buttonIconPack"
          :left-icon-type="buttonIcons.buttonIconType"
          v-bind="{ iconClass }"
          :class="buttonClass">
          {{ prevButtonText }}
        </action-button>
        <action-button
          key="navToNext"
          @click="$emit('nav', link('next'))"
          :disabled="!link('next') || working"
          :right-icon="buttonIcons.nextButtonIcon"
          :right-icon-pack="buttonIcons.buttonIconPack"
          :right-icon-type="buttonIcons.buttonIconType"
          v-bind="{ iconClass }"
          :class="buttonClass">
          {{ nextButtonText }}
        </action-button>
        <action-button
          key="navToLast"
          v-if="jumpControls"
          @click="$emit('nav', link('last'))"
          :disabled="!link('last') || !link('next') || working"
          :class="buttonClass">
          <icon
            :icon="buttonIcons.lastButtonIcon"
            :pack="buttonIcons.buttonIconPack"
            :type="buttonIcons.buttonIconType"
            :class="iconClass" />
        </action-button>
      </template>
    </div>
  </nav>
</template>

<script>
import { format } from '../../utilities/string'
import { basicTags } from '../../utilities/string'
import inflect from 'pluralize'

export default {

  filters: { inflect },

  props: {
    buttonClass: String,
    buttonIconPack: String,
    buttonIconType: String,
    emptyText: String,
    firstButtonIcon: String,
    iconClass: String,
    jumpControls: Boolean,
    lastButtonIcon: String,
    nextButtonIcon: String,
    prevButtonIcon: String,

    pageable: {
      type: Object,
      required: true,
    },
    showDetails: {
      type: Boolean,
      default: true,
    },
    grouped: {
      type: Boolean,
      default: true,
    },
    format: {
      type: String,
      default: 'Page *:current* of *:last* (:total :totalContext)'
    },
    context: {
      type: String,
      default: 'item',
    },
    nextButtonText: {
      type: String,
      default: 'Next',
    },
    prevButtonText: {
      type: String,
      default: 'Prev',
    },
    locale: {
      type: String,
      default: 'en-GB',
    },
    detailsClass: {
      type: Array | Object | String,
      default: 'is-scheme-main'
    },
    working: {
      type: Boolean,
      default: false
    },
    workingText: {
      type: String,
      default: 'Loading…'
    }
  },

  computed: {
    defaults() {
      return this.$vueBulma.components.pager
    },

    buttonIcons() {
      return {
        buttonIconPack: this.buttonIconPack || this.defaults.buttonIconPack,
        buttonIconType: this.buttonIconType || this.defaults.buttonIconType,
        nextButtonIcon: this.nextButtonIcon || this.defaults.nextButtonIcon,
        prevButtonIcon: this.prevButtonIcon || this.defaults.prevButtonIcon,
        lastButtonIcon: this.lastButtonIcon || this.defaults.lastButtonIcon,
        firstButtonIcon: this.firstButtonIcon || this.defaults.firstButtonIcon,
      }
    },

    details() {
      let { meta } = this
      let formatted = format(this.format, {
        current: meta('current_page'),
        last: meta('last_page'),
        total: meta('total').toLocaleString(this.locale),
        totalContext: this.$options.filters.plural(meta('total'), this.context)
      })

      return basicTags(formatted)
    },

    isApiResource() {
      let { pageable } = this
      return ['links', 'meta'].every(key => {
        return key in pageable && Object.keys(pageable[key]).length > 0
      })
    },

    canPage() {
      let { pageable } = this
      return this.isApiResource
        ? (pageable.links.prev || pageable.links.next)
        : (pageable.prev_page_url || pageable.next_page_url)
    },

    link() {
      let { pageable } = this
      return key => this.isApiResource
        ? pageable.links[key]
        : pageable[`${key}_page_url`]
    },

    meta() {
      let { pageable } = this
      return key => this.isApiResource
        ? pageable.meta[key]
        : pageable[key]
    }
  }
}
</script>
