.avatar {
  align-items: center;
  justify-content: center;
  background: $avatar-background-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: $avatar-box-shadow;
  position: relative;
  user-select: none;

  &.is-rounded {
    border-radius: 100vh;
  }

  &.no-image {
    background-color: $avatar-initials-background-color;
    color: $avatar-initials-color;
    font-weight: $avatar-initials-font-weight;
  }

  .presence {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 20rem;
    box-shadow: 0 0 0 3px $avatar-presence-border-color;
    background-color: $avatar-presence-background-color;

    &.is-success {
      background-color: $success;
    }

    &.is-danger {
      background-color: $danger;
    }

    &.is-warning {
      background-color: $warning;
    }

    &.is-info {
      background-color: $info;
    }

    &.is-link {
      background-color: $link;
    }

    &.is-black {
      background-color: $black;
    }

    &.is-primary {
      background-color: $primary;
    }
  }
}
