// Colour Picker
input.colour-selector {
  cursor: pointer;
}

span.colour-indicator {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2.25rem;
  z-index: 4;
  border-radius: $colour-picker-indicator-radius;
  transform: scale(0.6);
  box-shadow: $colour-picker-indicator-shadow;
  transition: background-color $colour-picker-transition-duration ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: $weight-bold;

  > span {
    transition: color $colour-picker-transition-duration ease;
  }
}

// Hue Strip
.colour-picker-hue-strip {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: $colour-picker-hue-radius;

  &.direction-horizontal {
    background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
  }

  &.direction-vertical {
    background: linear-gradient(to top, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
  }

  .strip-container {
    cursor: pointer;
    margin: 0 2px;
    position: relative;
    height: 100%;

    .strip-pointer {
      z-index: 2;
      position: absolute;
    }

    .strip-picker {
      cursor: pointer;
      margin-top: 1px;
      width: 4px;
      border-radius: $colour-picker-hue-picker-radius;
      height: 8px;
      box-shadow: $colour-picker-hue-picker-shadow;
      background-color: $colour-picker-hue-picker-background;
      transform: translateX(-2px);
      outline: none;
      transition: box-shadow $colour-picker-transition-duration ease;

      &:active {
        box-shadow: $colour-picker-hue-picker-active-shadow;
      }
    }
  }
}

// Slider
.slider-colour-picker {
  position: relative;
  width: 100%;

  .hue-warp {
    height: 12px;
    position: relative;

    .strip-picker {
      width: 14px;
      height: 14px;
      transform: translate(-7px, -2px);
    }
  }

  .swatches {
    display: flex;
    margin-top: 1rem;

    .swatch {
      flex-grow: 1;
      width: auto;

      .swatch-picker {
        cursor: pointer;
        height: 14px;
        margin: 4px 0;
        transition: box-shadow $colour-picker-transition-duration ease, background-color $colour-picker-transition-duration ease;
        box-shadow: 0 0 0 0 transparent;

        &.is-active {
          position: relative;
          box-shadow: 0 0 0 2px $scheme-main;
          margin: 0;
          height: 22px;
        }

        &.is-white {
          box-shadow: 0 0 0 2px $scheme-main, inset 0 0 8px rgba($black, 0.05);
        }
      }

      &:first-child .swatch-picker {
        border-radius: 1rem 0 0 1rem;
      }

      &:last-child .swatch-picker {
        border-radius: 0 1rem 1rem 0;
      }
    }
  }
}
