$inner-field-label-font-size: $size-7 !default;
$inner-field-label-padding-vertical: calc(0.375rem - #{$control-border-width}) !default;
$inner-field-label-padding-horizontal: calc(0.625rem - #{$control-border-width}) !default;
$inner-field-control-run-spacing: calc(0.375em * 3.5 - #{$control-border-width}) !default;
$inner-field-control-input-height: calc(3.375em - 1px) !default;

.label.is-field-label {
  .main-label > span:first-child {
    margin-left: 0;
  }
}

label {
  position: relative;

  &.is-field-label {
    &.has-hint {
      display: flex;
      align-items: center;

      .main-label {
        flex-grow: 1;
      }

      span.icon {
        color: $field-hint-color;
        cursor: help;
      }
    }

    &.has-description {
      margin-bottom: $field-label-has-description-margin;

      + .field-description {
        color: $field-description-color;
        margin-bottom: $field-description-margin;
        font-size: $field-description-font-size;
      }
    }
  }
}

.input-group .control.has-icons-right .input {
  padding-right: $control-padding-horizontal !important;
}
