.flyout {
  background-color: $flyout-background-color;
  position: fixed;
  transition: right 475ms $flyout-transition-easing, left 475ms $flyout-transition-easing, box-shadow 1275ms $flyout-transition-easing;
  width: $flyout-width;
  z-index: $flyout-index;
  display: flex;
  flex-direction: column;
  bottom: 0;

  &.from-right {
    right: -$flyout-width;
    top: $flyout-top;

    &.visible {
      right: 0;
    }
  }

  &.from-left {
    left: -$flyout-width;
    top: $flyout-top;

    &.visible {
      left: 0;
    }
  }

  &.visible {
    box-shadow: $flyout-visible-box-shadow;
  }
}

.flyout-header {
  height: $flyout-header-height;
  align-items: stretch;
  background-color: $flyout-header-background-color;
  backdrop-filter: $flyout-header-backdrop-filter;
  box-shadow: $flyout-header-box-shadow;
  display: flex;
  z-index: $flyout-index;
}

.flyout-header-title {
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding: 0.75rem;
  color: $flyout-header-title-color;
  font-weight: $flyout-header-title-font-weight;
  font-size: $flyout-header-title-font-size;

  &:not(.is-centered):last-child, &:not(.is-centered):nth-child(2) {
    padding-left: 0;
  }

  &.is-centered {
    justify-content: center;
  }
}

.flyout-header-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem;
}

.flyout-content {
  z-index: calc(#{$flyout-index} + 1);
  padding: $flyout-content-padding;
  flex: 1;
  background-color: $flyout-content-background-color;
  backdrop-filter: $flyout-content-backdrop-filter;
}

.flyout-footer {
  background-color: $flyout-footer-background-color;
  align-items: stretch;
  display: flex;
}

.flyout-footer-item {
  border-top: $flyout-footer-border;
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;

  &:not(:last-child) {
    border-right: $flyout-footer-border;
  }
}

.flyout-overlay {
  background-color: $flyout-overlay-background-color;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: $flyout-top;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $flyout-overlay-index;
  transition: visibility 475ms $flyout-transition-easing, opacity 475ms $flyout-transition-easing;

  &.visible {
    visibility: inherit;
    opacity: 1;
  }
}
