@keyframes icon-animation-pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.icon-animation-pulse {
  animation: icon-animation-pulse 1.5s infinite;
  animation-timing-function: ease-in-out;
}
