.markdown-editor {
  .tabs {
    margin-bottom: $markdown-editor-tabs-margin;
  }

  .markdown-editor-preview {
    background: $markdown-editor-preview-background;
    color: $markdown-editor-preview-color;
    border-radius: $markdown-editor-preview-radius;
    padding: $markdown-editor-preview-padding;
  }
}
