.modal-card-head .icon {
  margin-right: $modal-card-head-icon-margin;
  color: $modal-card-head-icon-color;
}

.modal-card-intro {
  background: $modal-card-intro-background;
  border-bottom: $modal-card-intro-border-width solid $modal-card-intro-border;
  color: $modal-card-intro-color;
  padding: $modal-card-intro-padding;

  &.is-danger {
    background: $danger-light;
    border-bottom: $modal-card-intro-border-width solid darken($danger-light, 5%);
    color: $danger;
  }

  &.is-info {
    background: $light;
    border-bottom: $modal-card-intro-border-width solid darken($info, 5%);
    color: $info;
  }

  &.is-link {
    background: $link-light;
    border-bottom: $modal-card-intro-border-width solid darken($link-light, 5%);
    color: $link;
  }

  &.is-warning {
    background: $warning-light;
    border-bottom: $modal-card-intro-border-width solid darken($warning-light, 5%);
    color: $warning;
  }
}

.modal-card-body.is-footerless {
  border-bottom-left-radius: $modal-card-foot-radius;
  border-bottom-right-radius: $modal-card-foot-radius;
}

.modal-card-foot.is-reversed {
  flex-direction: row-reverse;
}
