article.persona {
  display: inline-flex;
  align-items: center;

  .avatar {
    flex-shrink: 0;
  }

  .persona-meta {
    margin-left: $persona-gap;
  }

  .persona-name {
    font-weight: $persona-name-font-weight;
  }

  .persona-subtitle {
    color: $persona-subtitle-color;
    font-size: $persona-subtitle-font-size;
  }
}
