.selector-wrapper {
  display: flex;

  .dropdown-trigger {
    flex-grow: 1;
    max-width: 100%;
  }

  &:not(.is-flipped) .dropdown-menu .dropdown-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.is-flipped .dropdown-menu .dropdown-content {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .dropdown-menu {
    cursor: default;
    width: 100%;
    padding: 0 1px;

    .dropdown-content {
      max-height: $dropdown-content-max-height;
      overflow: hidden scroll;
    }

    .dropdown-item {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      user-select: none;
      outline: none;
      padding-right: 1rem;

      &.is-highlighted, &:focus {
        background-color: $dropdown-item-highlighted-background-color;
        color: $dropdown-item-highlighted-color;
      }

      &.is-empty-item {
        pointer-events: none;
      }

      &.is-tagger {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap-reverse;

        span {
          &:first-child {
            font-weight: $weight-bold;
            white-space: normal;
          }

          &:last-child {
            font-weight: $weight-light;
            font-size: $size-7;
          }
        }
      }
    }
  }

  div.selector {
    cursor: pointer;

    &.select {
      padding-right: 2.5em;
      max-width: 100%;
    }

    &.has-children {
      min-height: $control-height;
      height: auto;

      &.searchable {
        cursor: text;
      }

      .field.is-grouped.is-grouped-multiline {
        margin-bottom: -0.25rem;

        .control {
          margin-bottom: 0.25rem;
          margin-right: 0.25rem;
          max-width: 100%;

          .tag {
            cursor: pointer;
            user-select: none;
          }

          input {
            border: none;
            outline: none;
            font-size: 0.9em;
            padding: 0 0.25em;
            min-width: 4px;
            max-width: 99%;
          }
        }
      }
    }
  }

  .selector {
    transition: border-radius 200ms ease;

    &.is-rounded {
      border-radius: unquote("#{$input-height / 2}/50%");
    }

    &.is-active:not(.is-flipped) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.is-active.is-flipped {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .data-label {
      display: block;
      overflow: hidden;
      pointer-events: none;
      text-overflow: ellipsis;
      user-select: none;
      white-space: nowrap;
    }
  }
}
