<template>
  <modal v-bind="{ title, introClass }">
    <template #intro v-if="intro">
      <p>{{ intro }}</p>
    </template>
    <article class="content" :class="contentClass" v-html="message"/>
    <template #footer>
      <div class="buttons" :class="footerClass">
        <action-button :class="cancelClass" @click="$close(false)">{{ cancelText }}</action-button>
        <action-button :class="confirmClass" @click="$close(true)">{{ confirmText }}</action-button>
      </div>
    </template>
  </modal>
</template>

<script>
export default {
  props: {
    title: String,
    message: String,
    intro: String,

    confirmText: {
      type: String,
      default: 'Confirm'
    },

    cancelText: {
      type: String,
      default: 'Cancel'
    },

    introClass: Array | Object | String,
    contentClass: Array | Object | String,
    footerClass: Array | Object | String,

    cancelClass: {
      type: Array | Object | String,
      default: 'is-light'
    },
    confirmClass: {
      type: Array | Object | String,
      default: 'is-primary has-text-weight-bold'
    },
  }
}
</script>
