svg.password-meter {
  overflow: initial;

  path.checkmark {
    fill: transparent;
    transition: fill 1s $password-input-meter-transition-easing;

    &.is-visible {
      fill: $password-input-meter-checkmark-color;
    }
  }

  .rings path {
    fill: none;
    stroke-width: $password-input-meter-ring-width;
    stroke-linecap: $password-input-meter-ring-cap;
    transition: stroke-dasharray 1s $password-input-meter-transition-easing, stroke 1s $password-input-meter-transition-easing;

    &:first-child {
      stroke: $password-input-meter-outer-ring-color;
    }

    &:last-child {
      stroke: $password-input-meter-outer-ring-color;

      &.is-25 {
        stroke: $password-input-meter-inner-ring-color-25;
      }
      &.is-50 {
        stroke: $password-input-meter-inner-ring-color-50;
      }
      &.is-75 {
        stroke: $password-input-meter-inner-ring-color-75;
      }
      &.is-100 {
        stroke: $password-input-meter-inner-ring-color-100;
      }
    }
  }
}
