<template>
  <label v-if="Boolean($scopedSlots.default)"
    :for="field || false"
    class="label is-field-label"
    :class="{ 'has-hint': hint, 'has-description': description }">
    <div class="main-label">
      <span><slot/></span>
      <span
        v-if="required"
        :class="requiredClass">
        {{ requiredText }}
      </span>
    </div>
    <icon v-if="hint"
      :icon="hintIconProps.icon"
      :type="hintIconProps.type"
      :pack="hintIconProps.pack"
      v-tooltip="{
        content: hint,
        placement: 'left',
        classes: ['is-hint-icon is-small', hintClass]
      }"/>
  </label>
</template>

<script>
import * as props from '../mixins/props'

export default {

  mixins: [
    props.required,
    props.describable,
    props.hintable,
  ],

  props: {
    field: {
      type: String,
      default: '',
    },
  },

  computed: {
    defaults() {
      return this.$vueBulma.components.fieldLabel
    },

    hintIconProps() {
      return {
        icon: this.hintIcon || this.defaults.hintIcon,
        type: this.hintIconType || this.defaults.hintIconType,
        pack: this.hintIconPack || this.defaults.hintIconPack,
      }
    }
  }

}
</script>
